@import "variables.scss";

$utilities: map-merge(
  $utilities,
  (
    "background-color": (
      property: background-image,
      class: bg,
      values: map-merge(
        map-get($utilities, "background-color", "values"), 
        (
          "my-gradient": linear-gradient(to bottom, var(--bs-body-bg) 0%, var(--bs-body-bg) 70%, var(--color-dadgad-bg-gradient) 100%),
          "my-gradient-footer": linear-gradient(to bottom, var(--color-dadgad-bg-gradient) 0%, var(--bs-body-bg) 70%)
        )
      )
    )
  )
);
