/* Base styles for the icons */
.theme-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.5s ease-in-out; /* The transition for the animation */
  opacity: 0;
}

/* Style for the sun icon */
.sun-icon.active {
  opacity: 1; /* Make it visible */
  transform: translate(-50%, -50%) translateY(0) scale(1); /* Final position, no Y-offset */
}

.sun-icon {
  transform: translate(-50%, -50%) translateY(100px) scale(0.8); /* Start position, below the button */
}

/* Style for the moon icon */
.moon-icon.active {
  opacity: 1; /* Make it visible */
  transform: translate(-50%, -50%) translateY(0) scale(1); /* Final position, no Y-offset */
}

.moon-icon {
  transform: translate(-50%, -50%) translateY(-100px) scale(0.8); /* Start position, above the button */
}

/* Ensure the button is the container for absolute positioning */
#change-theme {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  overflow: hidden; /* This hides the icons when they are outside the button bounds */
}
